*{
    margin: 0%;
    padding: 0%;
}

body{
    height: 100vh;
    background-color: mediumslateblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{

    height: 50vh;
    background-color: papayawhip;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    flex-direction: column;
    gap: 10px;
}